In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd

# Creating a DataFrame for quarterly financial data for 2021 and 2022
data = {
    'Year': [2021, 2021, 2021, 2021, 2022, 2022, 2022, 2022],
    'Quarter': ['Q1', 'Q2', 'Q3', 'Q4', 'Q1', 'Q2', 'Q3', 'Q4'],
    'Sales_Online': [12000, 15000, 17000, 16000, 18000, 19000, 21000, 20000],
    'Sales_In_Store': [22000, 24000, 25000, 23000, 26000, 27000, 28000, 29000],
    'Expenses_Online': [5000, 5500, 6000, 5800, 6200, 6500, 6700, 6900],
    'Expenses_In_Store': [8000, 8200, 8500, 8100, 8700, 8900, 9200, 9400]
}

# Creating the DataFrame
financial_data = pd.DataFrame(data)

financial_data

,Year,Quarter,Sales_Online,Sales_In_Store,Expenses_Online,Expenses_In_Store
0,2021,Q1,12000,22000,5000,8000
1,2021,Q2,15000,24000,5500,8200
2,2021,Q3,17000,25000,6000,8500
3,2021,Q4,16000,23000,5800,8100
4,2022,Q1,18000,26000,6200,8700
5,2022,Q2,19000,27000,6500,8900
6,2022,Q3,21000,28000,6700,9200
7,2022,Q4,20000,29000,6900,9400

In [4]:
#Q1
#1.1
# Extracting Online Sales for Q1 2022?
online_sales_q1_2022 = financial_data[(financial_data['Year'] == 2022) & (financial_data['Quarter'] == 'Q1')]['Sales_Online']
online_sales_q1_2022

4    18000
Name: Sales_Online, dtype: int64

In [5]:
#1.2
#How much were the in-store expenses in Q3 2021?
in_store_q3_2021 = financial_data[(financial_data['Year'] == 2021) & (financial_data['Quarter'] == 'Q3')]['Sales_In_Store']
in_store_q3_2021

2    25000
Name: Sales_In_Store, dtype: int64

In [9]:
#1.3
#What are the total sales for Q4 2021?
Total_sale_q4_2021 = financial_data[(financial_data['Year'] == 2021) & (financial_data['Quarter']== 'Q4')]['Sales_Online']
Total_sale_q4_2021

3    16000
Name: Sales_Online, dtype: int64

In [11]:
#1.4
#What were the expenses for the online channel in 2022?
Expense_online_20211 = financial_data[(financial_data['Year'] == 2022)]['Expenses_Online']
Expense_online_20211

4    6200
5    6500
6    6700
7    6900
Name: Expenses_Online, dtype: int64

In [13]:
#1.5
#Retrieve sales data for Q2 2021?
Total_sale_q2_2021 = financial_data[(financial_data['Year'] == 2021) & (financial_data['Quarter']== 'Q2')]['Sales_Online']
Total_sale_q2_2021

1    15000
Name: Sales_Online, dtype: int64

In [14]:
#1.6
#What is the maximum expense recorded in 2022?
max_expense_2022 = financial_data[financial_data['Year'] == 2022][['Expenses_Online', 'Expenses_In_Store']].max().max()
max_expense_2022

np.int64(9400)

In [15]:
#Q2
# Stack a DataFrame of Store, Product, and Sales.
data = {
    'Store': ['Store_A', 'Store_A', 'Store_B', 'Store_B'],
    'Product': ['Product_1', 'Product_2', 'Product_1', 'Product_2'],
    'Sales': [1000, 1500, 1100, 1600]
}
df = pd.DataFrame(data)

stacked_df = df.set_index(['Store', 'Product']).stack().reset_index(name='Values')

print(stacked_df)

     Store    Product level_2  Values
0  Store_A  Product_1   Sales    1000
1  Store_A  Product_2   Sales    1500
2  Store_B  Product_1   Sales    1100
3  Store_B  Product_2   Sales    1600

In [16]:
#Q3
#Unstack it to show sales by store
data = {
    'Store': ['Store_A', 'Store_A', 'Store_B', 'Store_B'],
    'Product': ['Product_1', 'Product_2', 'Product_1', 'Product_2'],
    'Sales': [1000, 1500, 1100, 1600]
}

df = pd.DataFrame(data)

unstacked_df = df.set_index(['Product', 'Store'])['Sales'].unstack()

print(unstacked_df)

Store      Store_A  Store_B
Product
Product_1     1000     1100
Product_2     1500     1600

In [17]:
#Q4
#Create a multi-index with Department and Role.

data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Role': ['Manager', 'Associate', 'Manager', 'Associate', 'Manager', 'Associate'],
    'Salary': [70000, 50000, 75000, 52000, 90000, 60000]
}

df = pd.DataFrame(data)

multi_index_df = df.set_index(['Department', 'Role'])

print(multi_index_df)

                      Salary
Department Role
Sales      Manager     70000
           Associate   50000
HR         Manager     75000
           Associate   52000
IT         Manager     90000
           Associate   60000

In [18]:
#Q5
#Access employees from a specific department.
sales_employees = multi_index_df.loc['Sales']
print(sales_employees)

           Salary
Role
Manager     70000
Associate   50000

In [23]:
#Q6
# Sort a DataFrame of student grades by Subject and Grade
import pandas as pd

data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math'],
    'Grade': [88, 92, 75, 85, 95]
}

df = pd.DataFrame(data)

sorted_df = df.sort_values(by=['Subject', 'Grade'])
ascending=[True]

print(sorted_df)

   Student  Subject  Grade
2  Charlie     Math     75
0    Alice     Math     88
4      Eve     Math     95
3    David  Science     85
1      Bob  Science     92

In [20]:
#Q7
# Resetting the index of the sorted DataFrame
sorted_df = sorted_df.reset_index(drop=True)
print(sorted_df)

   Student  Subject  Grade
0  Charlie     Math     75
1    Alice     Math     88
2      Eve     Math     95
3    David  Science     85
4      Bob  Science     92

In [24]:
#Q8
#
import pandas as pd

data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],
    'Temperature': [30, 32, 31, 29],
    'Humidity': [85, 80, 78, 90]
}

weather_df = pd.DataFrame(data)

# Converting 'Date' column to datetime format
weather_df['Date'] = pd.to_datetime(weather_df['Date'])

# Setting 'Date' as the index
weather_df = weather_df.set_index('Date')

print(weather_df)

            Temperature  Humidity
Date
2023-01-01           30        85
2023-01-02           32        80
2023-01-03           31        78
2023-01-04           29        90

In [25]:
#Q9
#
data = {
    'Sales': [1000, 1500, 1100, 1600]
}
index = pd.MultiIndex.from_tuples(
    [('Store_A', 'Product_1'), ('Store_A', 'Product_2'),
     ('Store_B', 'Product_1'), ('Store_B', 'Product_2')],
    names=['Store', 'Product']
)

# Creating the DataFrame with a multi-index
multi_index_df = pd.DataFrame(data, index=index)

# Flattening the multi-index
flattened_df = multi_index_df.reset_index()

print(flattened_df)

     Store    Product  Sales
0  Store_A  Product_1   1000
1  Store_A  Product_2   1500
2  Store_B  Product_1   1100
3  Store_B  Product_2   1600

In [26]:
#Q10
#
data = {
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Furniture', 'Clothing', 'Clothing'],
    'Product': ['Laptop', 'Tablet', 'Chair', 'Table', 'Shirt', 'Pants'],
    'Sales': [1200, 800, 450, 700, 300, 200]
}

df = pd.DataFrame(data)

# Setting a multi-index with Category and Product
multi_index_df = df.set_index(['Category', 'Product'])

# Averaging the Sales at each Category level
average_sales_by_category = multi_index_df.groupby(level='Category').mean()

print("Multi-index DataFrame:\n", multi_index_df)
print("\nAverage Sales by Category:\n", average_sales_by_category)

Multi-index DataFrame:
                      Sales
Category    Product
Electronics Laptop    1200
            Tablet     800
Furniture   Chair      450
            Table      700
Clothing    Shirt      300
            Pants      200

Average Sales by Category:
               Sales
Category
Clothing      250.0
Electronics  1000.0
Furniture     575.0